<section style="height:400px;
    width:100%;
    background-image: url(<%= Module.style.background_image %>);
    background-position: center;
    background-size: cover;">
	
	<div flex="85" flex-offset="5"
	style="text-align: <%= Module.style.text_align %>;
    margin: 0 auto;
    padding: 50px 0px 0px 0px;
    font-size: 35px;
    color: white;
    text-shadow: 1px 1px 4px black;"><%= Module.data.title %></div>

	<div flex="85" flex-offset="5"
	style="text-align: <%= Module.style.text_align %>;
    margin: 0 auto;
    padding: 15px 0px 20px 0px;
    font-size: 25px;
    color: white;
    text-shadow: 1px 1px 4px black;"><%= Module.data.subtitle %></div>
</section>